#question {
  /* height: 200px; */
  background: rgb(0, 29, 36);
}

#trivia-div {
  height: 0px;
  overflow: hidden;
}

.buttons {
  width: 312px;
  margin: 5px auto;
}

#button-bg {
  height: 0px;
  width: 150px;
  margin-left: 8px;
  z-index: 2;
  background: grey;
  top: 0;
  right: 4px;
  overflow: hidden;
  line-height: 1.8;
  font-size: 40px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#button-bg:hover {
  cursor: pointer;
}

.button-style {
  width: 150px;
  height: 80px;
}

#how-to-div {
  height: 0px;
  overflow: hidden;
  background: grey;
}

#landing-div {
  overflow: hidden;
}

.answer-div {
  border: 1px solid black;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.answer-div:hover {
  cursor: pointer;
}

.answer-icon {
  position: relative;
  float: right;
  font-size: 40px;
  left: 9px;
  top: -9px;
  z-index: 1;
}

#score-div {
  display: none;
}

img {
  width: 456px;
}

.score {
  float: left;
  width: 100%;
}
